<article class="flex flex-col gap-4">
  <app-image-placeholder class="block md:hidden" height="236px"></app-image-placeholder>
  <app-image-placeholder class="hidden md:block lg:hidden" height="189px"></app-image-placeholder>
  <app-image-placeholder class="hidden lg:block" height="277px"></app-image-placeholder>
  <app-badge-date [label]="date"></app-badge-date>
  <h3 class="font-bold text-[23px] leading-[25px] text-black m-0 md:text-[30px] md:leading-[38px]">{{ title }}</h3>
  <p class="font-normal text-base leading-normal text-[#343A40] m-0 overflow-hidden line-clamp-6">{{ body }}</p>
</article>
