<article class="article-card">
  <app-image-placeholder class="article-card__image article-card__image--mobile" height="236px"></app-image-placeholder>
  <app-image-placeholder class="article-card__image article-card__image--tablet" height="189px"></app-image-placeholder>
  <app-image-placeholder class="article-card__image article-card__image--desktop" height="277px"></app-image-placeholder>
  <app-badge-date></app-badge-date>
  <h3 class="article-card__title">Lorem ipsum dolor sit amet consectetur</h3>
  <p class="article-card__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</article>
