@media (min-width: 768px) {
  .gallery-card--large { height: 378px; }
  .gallery-card--small { height: 203px; }
}
@media (min-width: 1024px) {
  .gallery-card--large,
  .gallery-card--small { height: 482px; }
}
