<div class="gallery-card" [class.gallery-card--small]="small">
  <app-image-placeholder height="100%" class="gallery-card__bg"></app-image-placeholder>
  <div class="gallery-card__overlay">
    <div class="gallery-card__content">
      <h3 class="gallery-card__title">Lorem ipsum dolor</h3>
      <p class="gallery-card__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
      <a href="#" class="gallery-card__link">
        <span>Download</span>
        <app-icon-download aria-hidden="true"></app-icon-download>
      </a>
    </div>
  </div>
</div>
